html { position: relative; min-height: 100%; }
body { margin-bottom: 60px; }
.footer { position: absolute; bottom: 0; width: 100%; height: 40px; line-height: 15px; background-color: #f5f5f5; padding-top: 5px; font-size: 12px; text-align: center;}
label, footer { user-select: none; }
.list-group-item:first-of-type { background-color: #e0f2f1; color: #00695c; }